@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); /*font*/

/*colors*/

:root {
    --fg: #333333;
    --bg: #ffffff;
    --accent: #f8a4d2;
    --accentbg: #ffeaf6;
    --accenthover: #f387c2;
}

/*main html and body settings*/

html {
    font-family: Poppins;
    background-color: var(--bg);
    color: var(--fg);
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

/*button format*/

.button {
    background-color:var(--accent); 
    border: none;
    border-radius: 40px;
    color: var(--fg);
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.smallbutton {
    background-color:var(--accent); 
    border: none;
    border-radius: 40px;
    color: var(--fg);
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/*navigation bar format*/

.navcontainer {
    top: 0px;
    width: 100%;
    z-index: 3;
}

.navbar {
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--bg);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-color: var(--accent);
    font-weight: 500;
    height: 80px;
}

.navbar .logo {
    float: left;
    display: block;
    text-align: center;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.navbar .navbutton a {
    float: left;
    display: block;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 20px;

}

.navbar .currentnavbutton a {
    float: left;
    display: block;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 20px;
    color: var(--accenthover);
    font-weight:600;
    border-bottom-width: 10px;
    border-bottom-color: var(--accent);
    border-bottom-style: solid;
}

.navbar .navbutton a:hover {
    color: var(--accenthover);
    font-weight:600;
}

.navbar .cart a {
    float: right;
    display: block;
    padding-top: 15px;
    padding-right: 20px;
}

.navbar .cart a:hover {
    color: var(--accenthover);
    font-weight:600;
}

.navbar .currentcart a {
    float: right;
    display: block;
    padding-top: 15px;
    padding-right: 20px;
    color: var(--accenthover);
    font-weight:600;
    border-bottom-width: 10px;
    border-bottom-color: var(--accent);
    border-bottom-style: solid;
    padding-bottom: 3px;
}

/*sub-navigation bar for order page*/

.subnavbar {
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--accentbg);
    height: 60px;
}

.subnavbar .navbutton a {
    float: left;
    display: block;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 13px;
}

.subnavbar .navbutton a:hover {
    font-weight: 600;

}

.subnavbar .currentnavbutton a {
    font-weight: 600;
    border-bottom-width: 3px;
    border-bottom-color: var(--accent);
    border-bottom-style: solid;
    padding-bottom: 13px;
    float: left;
    display: block;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}


/*bottom bar for cart page*/

.bottombar {
    background-color: var(--accentbg);
    padding: 30px;
    padding-left: 120px;
    padding-right: 30px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*content container settings*/

.main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content .row {
    width: 60%;
    max-width: 50em;
    justify-content: space-around;
}

.divider {
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-color: var(--accent);
}

.flexrow {
    float: right;
    padding: 20px;
    padding-right: 100px;
}

.highlight {
    color: var(--accent);
}

.justify {
    text-align: start;
}

/*parent containers for child items*/

.mainbox {
    padding: 10px;
    background-color:var(--accentbg);
    padding-left: 30px;
    padding-right: 30px;
    width: 90%;
    text-align: center;
}

.selectionbox {
    padding: 10px;
    background-color:var(--bg);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    width: 90%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}


.selectionboxleft {
    padding: 10px;
    background-color:var(--bg);
    padding-left: 55px;
    padding-right: 30px;
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/*child item - order selection*/

.selectionitem {
    background-color: var(--bg);
    border-color: var(--accent);
    border-radius: 20px;
    border-style: solid;
    padding: 15px;
    color: var(--fg);
    width: 29%;
    height: 8%;
    float: left;
    /*display: flex;
    flex-direction: row;*/
    align-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 100%;
    margin: 10px;
}

.selectionitem .text {
    color: var(--fg);
    float: left;
    padding-left: 20px;
    padding-top: 15px;
    grid-area: 1 / 2 / span 1 / span 4;
}

.selectionitem .picture {
    grid-area: 1 / 1 / span 1 / span 1;
}

.selectionitem .icon {
    color: var(--accent);
    grid-area: 1 / 6 / span 1 / span 1;
    float: right;
}

.active, .selectionitem:hover {
    background-color: var(--accentbg);
    cursor: pointer;
}


.selectionbox .icon{
    color: var(--accent);
}


.selectionboxleft .icon{
    color: var(--accent);
}

/*order summary*/

.ordersummary {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--accentbg);
    padding-left: 100px;
    position: fixed;
    bottom: 0;
}

.ordersummary .text {
    color: var(--fg);
    float: left;
}

/*parent and child containers for favorite items tab*/

.favoritebox{
    background-color: var(--bg);
    border-color: var(--accent);
    border-radius: 20px;
    border-style: solid;
    color: var(--fg);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    width: 90%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.favoriteitems {
    background-color: var(--bg);
    border-color: var(--accent);
    border-radius: 20px;
    border-style: solid;
    padding: 15px;
    color: var(--fg);
    width: 29%;
    height: 8%;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 60% 40%;
    align-content: space-between; 
    justify-content: space-between;/*space columns */ 
    margin: 10px;
}

.favoritepicture {
    grid-area: 1 / 1 / span 1 / span 1;
}

.favoritetext {
    grid-area: 1 / 2 / span 1 / span 2;
}

.favoriteicon {
    grid-area: 1 / 4 / span 1 / span 1;
}

.favoritebutton {
    grid-area: 2 / 2 / span 1 / span 2;
    align-content: center;
    justify-content: center;
}

.cartitems {
    background-color: var(--bg);
    border-color: var(--accent);
    border-radius: 20px;
    border-style: solid;
    padding: 15px;
    color: var(--fg);
    width: 28%;
    height: 160px;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: 60% 10% 20% 10%;
    justify-content: space-between; /*space columns */ 
    margin: 10px;
}

.cartpicture {
    grid-area: 1 / 1 / span 1 / span 2;
}

.carttext {
    grid-area: 1 / 3 / span 1 / span 4;
}

.carticon {
    grid-area: 1 / 7 / span 1 / span 1;
}

.cartedit {
    grid-area: 3 / 3 / span 1 / span 2;
    align-content: center;
    justify-content: center;
    padding-bottom: 20px;
}

.cartdelete {
    grid-area: 3 / 5 / span 1 / span 2;
    align-content: center;
    justify-content: center;
}

a {
    color: var(--fg);
    text-align: center;
    text-decoration: none;
    transition: color 100ms;

    display: flex;
    align-items: center;
    justify-content: center;
}
